div.play-container {
    max-height: 100%;
    & > div.client-container {
        flex: 1 0 auto;
        min-height: 15rem;
        overflow: auto;
        &>div {
            top: 0;
            left: 0;
        }
    }
    & > div.chat-container {
        flex-basis: 18rem;
        & > div.messages-container {
            overflow-y: auto;
            & > div.chat-message {
                & a {
                    color: unset;
                    text-decoration: underline;
                }
                &:nth-child(2n) {
                    background-color: #e8e8e8;
                }
            }
        }
    }
}
