<div class="d-flex flex-row">
    <div class="flex-grow-1" style="background-color: blue;">
        <span>GAME</span>
    </div>
    <div style="flex-basis: 14rem">
            <div class="chat-message">
                <span>TODO1:</span>
                <p>TODO1!</p>
            </div>
            <div class="chat-message">
                <span>TODO2:</span>
                <p>TODO2!</p>
            </div>
            <button type="button" class="btn btn-primary">Primary</button>
    </div>
</div>